@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --background-color: #f4f4f4; /*#f9fafb;*/
    --text-color: #5fbaa7; /*rgb(2, 20, 59);*/
    --principal:  #306291;
    --fondo_menu: lightsteelblue; 
}

body {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

h1{
 text-align: center;
 text-decoration: underline;
 font-size: 18px;
}

p{
  padding: 5px 10px;
}

a{
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
  color: red;
}

img, picture{
  display:block;
  margin:auto;  
  width: 50%;
  max-width: 400px;
  height: auto;  
  margin-top: 5px;
}

div#migas
{
  font-size:12px;
}

/* Header*/
header {
  margin-bottom: 1rem;
  border-bottom: 3px solid;
  width: 100%;
  border-image-source: linear-gradient(45deg,#306291, lightsteelblue); /* compatibilidad cuando no funcionan las custom properties (IE) */      
  border-image-source: linear-gradient(45deg,--principal --fondo_menu); 
  border-image-slice: 1; 
}

/* Menú */
div.container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  text-align: center;
  padding: 1rem; 
}

div.container ul{
  list-style-type: none;
  grid-template-columns: 1fr;
  margin:0;
  padding:0;
  width: 100%;
}

div.container li{
  width: 100%;
  padding-top: 0.8rem;
}

div.container a {
  padding: 5px;
  border: 1px solid;
  border-color:  #306291;
  border-color: var(--principal);
  background-color:  lightsteelblue;
  background-color: var(--fondo_menu);      
  width: 100%;
  margin-left:10%;
}

/* Parte para PC */
@media (min-width: 600px) {
  header{
    margin:0;
    padding: 0;
  }
  div.container{
    grid-column: 1fr;
    width: 80%;
    margin-left: 8%;
  }

  div.container ul{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
  }

  div.container a {
    width: 100%;
    padding: 5px 0;
    margin:0;
  }  
}

/* pie de página */
footer {
  margin-top: 1rem;
  border-top: 3px solid;
  border-image-source: linear-gradient(45deg,#306291, lightsteelblue); /* compatibilidad cuando no funcionan las custom properties (IE) */      
  border-image-source: linear-gradient(45deg,--principal --fondo_menu); 
  border-image-slice: 1; 
}

footer p{
  padding-left: 1rem; 
}

div#container-footer
{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  text-align: center;
  padding: 1rem; 
}

div.subcontainer-footer
{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  text-align: center;
  padding: 1rem; 
}

div.subcontainer-footer a{
      padding: 5px;
      border: 1px solid;
      border-color:  #306291;
      border-color: var(--principal);
      background-color:  lightsteelblue;
      background-color: var(--fondo_menu);    
  }

  div.subcontainer-footer a:hover{
      /*border-bottom: 1px solid;*/
      text-decoration: underline;
      font-size: 1.1rem;
  } 

/*Parte para dispositivo pequeño*/
@media (max-width: 600px) {
  div#container-footer
  {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
  }
}

/* Parte para PC */
@media (min-width: 600px) {
  div#container-footer
  {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 5px;
      text-align: center;
      padding: 1rem; 
  }
  
  div.subcontainer-footer
  {
      display: grid;
      width: 33.33%;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 5px;
      text-align: center;
      
  }
  
  div.subcontainer-footer:nth-child(1)
  {
      grid-column: 1;
  }
  
  div.subcontainer-footer:nth-child(2)
  {
      grid-column: 3;
  }
  
}


img#logo
{
  width: 75px;
}

.image-clip {
  position: relative;
  width: 50%;
  max-width: 150px;
}

.image-clip img, figcaption { 
  position: absolute;
  top: 0;
}

.image-clip img:last-child {
  mix-blend-mode: multiply;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

/* Animación subtitulo que se desliza de derecha a izquierda*/
h2 {
  animation-duration: 3s;
  animation-name: titulo;
  text-align: center;
}

@keyframes titulo {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


a
{
  animation-duration: 1s;
  animation-name: enlace;
}

@keyframes enlace
{
  from {
    color: black;
  }

  to {
    color: white;
  }
}

img.portada
{
  width:20%;
}

img.miniatura
{
  width: 50%;
  margin-bottom: 5px;
}

ul.categoria
{
  padding: 5px;
  border: 2px black solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;  
}

li.elemento
{
  background-color:  lightsteelblue;
  background-color: var(--fondo_menu);
  grid-row: auto;
  padding: 2rem 0rem;
  text-align: center;
}

/* Mediaqueries del grid */
@media (min-width: 600px) {
  ul.categoria
  {  
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  ul.categoria
  {  
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  ul.categoria
  {  
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}